[submodule "Informatica-Grafica"]
	path = Informatica-Grafica
	url = https://github.com/p72losaj/Informatica-Grafica
[submodule "Datasets"]
	path = Datasets
	url = https://github.com/p72losaj/Datasets
[submodule "FSIV"]
	path = FSIV
	url = https://github.com/p72losaj/FSIV
[submodule "Introduccion_Mineria_Datos"]
	path = Introduccion_Mineria_Datos
	url = https://github.com/p72losaj/Introduccion_Mineria_Datos
